<h3 class="capitalize pt-20" id="grids">
  {{#each (take 1 model) as |letter|}}
    {{letter.letter}}
  {{/each}}
</h3>

{{alpha-grid}}

<div class="table xxs:hidden xsml:hidden xsm:hidden smm:hidden sm:hidden md:block lg:block xl:block xl:block xxl:block txl:block fxl:block">
  <div class="table-row">
    <div class="table-cell">
      {{#each (slice 0 14 (sort-by "term" model) array) as |term|}}
        {{#link-to "terms.letter.term_id" term.letter term.id}}
          <li class="text-blue-light text-sm pt-8 pr-8 pb-8 list-reset">{{term.term}}</li>
        {{/link-to}}
      {{/each}}
    </div>
    <div class="table-cell">
      {{#each (slice 14 28 (sort-by "term" model) array) as |term|}}
        {{#link-to "terms.letter.term_id" term.letter term.id}}
          <li class="text-blue-light text-sm pt-8 pr-8 pb-8 list-reset">{{term.term}}</li>
        {{/link-to}}
      {{/each}}
    </div>
    <div class="table-cell">
      {{#each (slice 28 42 (sort-by "term" model) array) as |term|}}
        {{#link-to "terms.letter.term_id" term.letter term.id}}
          <li class="text-blue-light text-sm pt-8 pr-8 pb-8 list-reset">{{term.term}}</li>
        {{/link-to}}
      {{/each}}
    </div>
    <div class="table-cell">
      {{#each (slice 42 60 (sort-by "term" model) array) as |term|}}
        {{#link-to "terms.letter.term_id" term.letter term.id}}
          <li class="text-blue-light text-sm pt-8 pr-8 pb-8 list-reset">{{term.term}}</li>
        {{/link-to}}
      {{/each}}
    </div>
  </div>
</div>

<table class="table xxs:visible xsml:visible xsm:visible smm:visible sm:visible md:invisible lg:invisible xl:invisible xl:invisible xxl:invisible txl:invisible fxl:invisible">
  <div class="table-row">
    <div class="table-cell">
      {{#each (slice 0 28 (sort-by "term" model) array) as |term|}}
        {{#link-to "terms.letter.term_id" term.letter term.id}}
          <li class="text-blue-light text-sm pt-8 pr-8 pb-8 list-reset">{{term.term}}</li>
        {{/link-to}}
      {{/each}}
    </div>
    <div class="table-cell">
      {{#each (slice 28 56 (sort-by "term" model) array) as |term|}}
        {{#link-to "terms.letter.term_id" term.letter term.id}}
          <li class="text-blue-light text-sm pt-8 pr-8 pb-8 list-reset">{{term.term}}</li>
        {{/link-to}}
      {{/each}}
    </div>
  </div>
</table>

{{outlet}}