{{!-- The look ahead search begins at line 18 and ends at line 28 --}}

<div class="flex mx-auto bg-grey-white xl:w-980 md:shadow md:overflow-hidden">

  {{ui-nav}}

</div>

<div
  class="flex mx-auto max-w-xl bg-grey-white md:shadow md:flex-col md:flex md:flex-col xs:flex xs:flex-col md:w-auto xs:ml-15 md:w-700 lg:w-auto md:flex md:flex-col lg:flex-row lg:mx-auto">

  <div class="vl lg:max-w-xsml w-295 overflow-hidden">
    <div class="xs:vlx md:vlx md:vlx p-10">
      <span class="text-base font-bold pb-12">Oilfield Glossary</span>
      <p class="text-blue-light text-sm leading-normal pt-4">
        Search for Term:
      </p>
    </div>
    <input type="text" placeholder="Enter term" oninput={{perform searchGlossary value="target.value"}} class="border ml-10">

    {{#if searchGlossary.isRunning}}
      {{loading-spinner}}
    {{/if}}

    <ul class="md:w-414 md:ml-30m mt-5 mb-15m">
      {{#each (take 20 (sort-by "term" searchGlossary.lastSuccessful.value)) as |term|}}
        {{#link-to "terms.letter.term_id" term.letter term.id class="text-blue-light text-sm no-underline"}}{{term.term}}{{/link-to}}<br>
      {{/each}}
    </ul>
    {{ui-sidebar}}
  </div>

  <div class="mb-20 md:w-700 md:ml-5 md:mt-10">
    {{outlet}}
    {{glossaryData.data.url}}
  </div>
</div>

{{ui-footer}}
