{{#print-this printSelector=".customContent" as |doPrint|}}
  <div class="customContent">
    <div class="w-700 mx-auto lg:ml-0 pl-15 mr-20">
      <p class="text-blue-darkest text-xxl mb-21">{{model.term}}</p>
      {{!-- definition flex --}}
      <div class="flex flex-col xs:max-w-xsml sm:max-w-sm md:max-w-md lg:max-w-lg">

        {{!-- definition --}}
        {{#each (take 1 model.definitions) as |definition|}}

          {{!-- definition div: includes image --}}
          <div class="lg:inline-flex bg-grey-lighter pt-10 pr-0 pb-8 pl-8">

            {{!-- definition flex-1 --}}
            <div class="md:w-full">
              <p class="text-sm font-bold">{{definition.speech_type}} [{{definition.category}}]</p>
              <p class="text-sm leading-normal pt-24 pr-6 pb-10">
                {{{definition.definition}}}
              </p>

              {{#if definition.synonyms}}
                <div class="pb-10">
                  <span class="text-sm font-bold leading-normal">Synonyms:</span>
                  {{#each definition.synonyms as |syn|}}
                    <a class="text-sm text-blue-light no-underline" href={{syn.link}}>{{syn.title}}</a>{{#unless (eq syn definition.synonyms.lastObject)}},{{/unless}}
                  {{/each}}
                </div>
              {{/if}}


              {{#if definition.alternate_forms}}
                <div class="pb-10">
                  <span class="text-sm font-bold">Alternate Form:</span> <span class="text-sm">{{definition.alternate_forms}}</span>
                </div>
              {{/if}}

              {{#if definition.see}}
                <div class="pb-10">
                  <span class="text-sm font-bold">See:</span>
                  {{#each definition.see as |see|}}
                    {{#if see.title}}
                      <a class="text-sm text-blue-light leading-normal no-underline" href={{see.link}}>{{see.title}}</a>{{#unless (eq see definition.see.lastObject)}},{{/unless}}
                    {{/if}}
                  {{/each}}
                </div>
              {{/if}}

              {{#if definition.more_details}}
                <div class="pb-10">
                  <span class="text-sm font-bold">More Details:</span>
                  <ul class="text-sm">
                    {{#each definition.more_details as |more_details|}}
                      <li>
                        <a class="text-sm text-blue-light leading-normal no-underline" href={{more_details.link}}>
                          {{more_details.title}}
                        </a>
                      </li>
                    {{/each}}
                  </ul>
                </div>
              {{/if}}
            </div>

            {{!-- definition image: part of defintion div --}}
            {{!-- image flex-1 --}}
            {{#if definition.image}}
              <div class="lg:max-w-fifty">
                <div class="bg-white border p-10 mt--1 mr-8 ml-2">
                  <img class="p-10" src={{definition.image.src}} alt="">
                  <a {{action (mut showImage) true}} href="" class="no-underline md:w-800">
                    <p class="pl-10 bg-grey-light text-center rounded text-sm">
                      {{svg-jar "search-plus" class="w-10 h-10"}} view full-size
                    </p>
                  </a>
                  <figcaption class="p-15">
                    <span class="text-sm leading-normal">{{definition.image.caption}}</span>
                  </figcaption>
                </div>
              </div>
            {{/if}}
          </div>

          {{#if showImage}}
            {{#modal-dialog
              onClose=(action (mut showImage) false)
              clickOutsideToClose=true
              target=targetElement
              animatable=true
              translucentOverlay=true
              attachment="middle center"
              targetAttachment="middle center"
              constraints=constraints
            }}
              <div class="p-8 bg-white w-full max-w-md m-auto flex-row flex">
                <img class="p-10" src={{definition.image.src}} alt="">
                <a {{action (mut showImage) false}} href="">
                  <span class="absolute pin-t pin-b pin-r p-4">
                    <svg class="h-28 w-28 text-grey hover:text-grey-darkest" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <title>Close</title>
                      <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
                    </svg>
                  </span>
                </a>
              </div>
            {{/modal-dialog}}
          {{/if}}
        {{/each}}
      </div>
    </div>

    <div class="flex">
      {{#each (take 1 (drop 1 model.definitions)) as |definition|}}
        <div class="w-full pt-10 pr-0 pb-8 pl-8 ml-15">
          <div class="w-61.2 md:w-full">
            <p class="text-sm font-bold">{{definition.speech_type}} [{{definition.category}}]</p>
            <p class="text-sm leading-normal pt-24 pr-6 pb-10">{{{definition.definition}}}</p>

            {{#if definition.alternate_forms}}
              <div class="pb-10">
                <span class="text-sm font-bold">Alternate Form:</span> <span class="text-sm">{{definition.alternate_forms}}</span>
              </div>
            {{/if}}

            {{#if definition.see.length}}
              <div class="pb-10">
                <span class="text-sm font-bold">See:</span> {{#each definition.see as |see|}} {{#if see.title}} <a class="text-sm text-blue-light leading-normal no-underline" href={{see.link}}>{{see.title}}</a>{{#unless (eq see definition.see.lastObject)}},{{/unless}}{{/if}}{{/each}}
              </div>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>

    <div class="flex bg-grey-lightest">
      {{#each (take 1 (drop 2 model.definitions)) as |definition|}}
        <div class="w-full pt-10 pr-0 pb-8 pl-8 ml-15">
          <div class="w-61.2 md:w-full">
            <p class="text-sm font-bold">{{definition.speech_type}} [{{definition.category}}]</p>
            <p class="text-sm leading-normal pt-24 pr-6 pb-10">{{{definition.definition}}}</p>

            {{#if definition.alternate_forms}}
              <div class="pb-10">
                <span class="text-sm font-bold">Alternate Form:</span> <span class="text-sm">{{definition.alternate_forms}}</span>
              </div>
            {{/if}}

            {{#if definition.see.length}}
              <div class="pb-10">
                <span class="text-sm font-bold">See:</span> {{#each definition.see as |see|}} {{#if see.title}} <a class="text-sm text-blue-light leading-normal no-underline" href={{see.link}}>{{see.title}}</a>{{#unless (eq see definition.see.lastObject)}},{{/unless}}{{/if}}{{/each}}
              </div>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>

    <div class="flex">
      {{#each (take 1 (drop 3 model.definitions)) as |definition|}}
        <div class="w-full pt-10 pr-0 pb-8 pl-8 ml-15">
          <div class="w-61.2 md:w-full">
            <p class="text-sm font-bold">{{definition.speech_type}} [{{definition.category}}]</p>
            <p class="text-sm leading-normal pt-24 pr-6 pb-10">{{{definition.definition}}}</p>

            {{#if definition.alternate_forms}}
              <div class="pb-10">
                <span class="text-sm font-bold">Alternate Form:</span> <span class="text-sm">{{definition.alternate_forms}}</span>
              </div>
            {{/if}}

            {{#if definition.see.length}}
              <div class="pb-10">
                <span class="text-sm font-bold">See:</span> {{#each definition.see as |see|}} {{#if see.title}} <a class="text-sm text-blue-light leading-normal no-underline" href={{see.link}}>{{see.title}}</a>{{#unless (eq see definition.see.lastObject)}},{{/unless}}{{/if}}{{/each}}
              </div>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>

    <div class="flex bg-grey-lightest">
      {{#each (take 1 (drop 4 model.definitions)) as |definition|}}
        <div class="w-full pt-10 pr-0 pb-8 pl-8 ml-15">
          <div class="w-61.2 md:w-full">
            <p class="text-sm font-bold">{{definition.speech_type}} [{{definition.category}}]</p>
            <p class="text-sm leading-normal pt-24 pr-6 pb-10">{{{definition.definition}}}</p>

            {{#if definition.alternate_forms}}
              <div class="pb-10">
                <span class="text-sm font-bold">Alternate Form:</span> <span class="text-sm">{{definition.alternate_forms}}</span>
              </div>
            {{/if}}

            {{#if definition.see.length}}
              <div class="pb-10">
                <span class="text-sm font-bold">See:</span> {{#each definition.see as |see|}} {{#if see.title}} <a class="text-sm text-blue-light leading-normal no-underline" href={{see.link}}>{{see.title}}</a>{{#unless (eq see definition.see.lastObject)}},{{/unless}}{{/if}}{{/each}}
              </div>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>

    <div class="flex">
      {{#each (take 1 (drop 5 model.definitions)) as |definition|}}
        <div class="w-full pt-10 pr-0 pb-8 pl-8 ml-15">
          <div class="w-61.2 md:w-full">
            <p class="text-sm font-bold">{{definition.speech_type}} [{{definition.category}}]</p>
            <p class="text-sm leading-normal pt-24 pr-6 pb-10">{{{definition.definition}}}</p>

            {{#if definition.alternate_forms}}
              <div class="pb-10">
                <span class="text-sm font-bold">Alternate Form:</span> <span class="text-sm">{{definition.alternate_forms}}</span>
              </div>
            {{/if}}

            {{#if definition.see.length}}
              <div class="pb-10">
                <span class="text-sm font-bold">See:</span> {{#each definition.see as |see|}} {{#if see.title}} <a class="text-sm text-blue-light leading-normal no-underline" href={{see.link}}>{{see.title}}</a>{{#unless (eq see definition.see.lastObject)}},{{/unless}}{{/if}}{{/each}}
              </div>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>

    <div class="flex bg-grey-lightest">
      {{#each (take 1 (drop 6 model.definitions)) as |definition|}}
        <div class="w-full pt-10 pr-0 pb-8 pl-8 ml-15">
          <div class="w-61.2 md:w-full">
            <p class="text-sm font-bold">{{definition.speech_type}} [{{definition.category}}]</p>
            <p class="text-sm leading-normal pt-24 pr-6 pb-10">{{{definition.definition}}}</p>

            {{#if definition.alternate_forms}}
              <div class="pb-10">
                <span class="text-sm font-bold">Alternate Form:</span> <span class="text-sm">{{definition.alternate_forms}}</span>
              </div>
            {{/if}}

            {{#if definition.see.length}}
              <div class="pb-10">
                <span class="text-sm font-bold">See:</span> {{#each definition.see as |see|}} {{#if see.title}} <a class="text-sm text-blue-light leading-normal no-underline" href={{see.link}}>{{see.title}}</a>{{#unless (eq see definition.see.lastObject)}},{{/unless}}{{/if}}{{/each}}
              </div>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>

    <div class="flex">
      {{#each (take 1 (drop 7 model.definitions)) as |definition|}}
        <div class="w-full pt-10 pr-0 pb-8 pl-8 ml-15">
          <div class="w-61.2 md:w-full">
            <p class="text-sm font-bold">{{definition.speech_type}} [{{definition.category}}]</p>
            <p class="text-sm leading-normal pt-24 pr-6 pb-10">{{{definition.definition}}}</p>

            {{#if definition.alternate_forms}}
              <div class="pb-10">
                <span class="text-sm font-bold">Alternate Form:</span> <span class="text-sm">{{definition.alternate_forms}}</span>
              </div>
            {{/if}}

            {{#if definition.see.length}}
              <div class="pb-10">
                <span class="text-sm font-bold">See:</span> {{#each definition.see as |see|}} {{#if see.title}} <a class="text-sm text-blue-light leading-normal no-underline" href={{see.link}}>{{see.title}}</a>{{#unless (eq see definition.see.lastObject)}},{{/unless}}{{/if}}{{/each}}
              </div>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>

    <div class="flex bg-grey-lightest">
      {{#each (take 1 (drop 8 model.definitions)) as |definition|}}
        <div class="w-full pt-10 pr-0 pb-8 pl-8 ml-15">
          <div class="w-61.2 md:w-full">
            <p class="text-sm font-bold">{{definition.speech_type}} [{{definition.category}}]</p>
            <p class="text-sm leading-normal pt-24 pr-6 pb-10">{{{definition.definition}}}</p>

            {{#if definition.alternate_forms}}
              <div class="pb-10">
                <span class="text-sm font-bold">Alternate Form:</span> <span class="text-sm">{{definition.alternate_forms}}</span>
              </div>
            {{/if}}

            {{#if definition.see.length}}
              <div class="pb-10">
                <span class="text-sm font-bold">See:</span> {{#each definition.see as |see|}} {{#if see.title}} <a class="text-sm text-blue-light leading-normal no-underline" href={{see.link}}>{{see.title}}</a>{{#unless (eq see definition.see.lastObject)}},{{/unless}}{{/if}}{{/each}}
              </div>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>

  </div>
  <button class="bg-blue-print hover:bg-blue text-white font-bold ml-15 mt-20 pt-5 pr-10 pb-5 pl-10 rounded" onclick={{doPrint}}>Print</button>
{{/print-this}}

<div class="xs:w-320 sm:w-600 md:w-240 pt-10 border-b lg:hidden xl:hidden xxl:hidden txl:hidden threexl:hidden fourxl:hidden fivexl:hidden">
</div>

<div class="flex xxs:w-240 xs:w-240 sm:w-240 md:w-240 lg:hidden xl:hidden xxl:hidden txl:hidden threexl:hidden fourxl:hidden fivexl:hidden">
  <div class="xxs:w-95p md:mx-auto lg:w-240">
    <div class="xxs:vlx p-10 vl sidebar">
      <span class="text-md font-bold pb-3">Resource Links</span>
      <ul class="list-reset">
        <li class="mt-6 leading-normal">
          <a class="text-blue-light text-sm no-underline mt-4 mb-4" href="http://www.slb.com/services.aspx">
            Schlumberger Oilfield Services
          </a>
        </li>
        <li class="leading-normal">
          <a class="text-blue-light text-sm no-underline mt-4 mb-4" href="http://www.slb.com/resources/publications/oilfield_review.aspx">
            Oilfield Review
          </a>
        </li>
        <li class="leading-normal">
          <a class="text-blue-light text-sm no-underline mt-4 mb-4" href="http://www.apps.slb.com/cmd/">
            Curve Mnemonic Dictionary
          </a>
        </li>
        <li class="leading-normal">
          <a class="text-blue-light text-sm no-underline mt-4 mb-4" href="http://www.slb.com/seed/">
            Schlumberger Excellence in Education Development (SEED)
          </a>
        </li>
      </ul>
    </div>
    <div class="xs:w-320 sm:w-600 md:w-240 border-b">
    </div>
  </div>
</div>

<div class="flex xxs:w-240 xs:w-240 sm:w-240 md:w-240 lg:hidden xl:hidden xl:hidden xxl:hidden txl:hidden threexl:hidden fourxl:hidden fivexl:hidden">
  <div class="xxs:w-95p md:mx-auto lg:w-240">
    <div class="xxs:vlx p-10 vl sidebar">
      <span class="text-md font-bold pb-3">Credits and Administration</span>
      <ul class="list-reset pb-175">
        <li class="mt-6 leading-normal">
          <a class="text-blue-light text-sm leading-normal pt-4 no-underline mt-4 mb-4" href="https://www.glossary.oilfield.slb.com/en/maincredits.aspx">
            Schlumberger Oilfield Glossary Credits
          </a>
        </li>
        <li class="leading-normal">
          <a class="text-blue-light text-sm leading-normal pt-4 no-underline mt-4 mb-4" href="https://www.glossary.oilfield.slb.com/en/glossary_administration.aspx">
            Glossary Administration
          </a>
        </li>
      </ul>
    </div>
    <div class="xs:w-320 sm:w-600 md:w-240">
    </div>
  </div>
</div>
